In [1]:
#import necessary tools
import re
from string import digits
import pandas as pd

In [2]:
#read the documents
with open('102_long.txt','rb') as f:
    contents = f.read()
    contents = contents.decode("utf-16").rstrip("\n")
    contents = contents.split("\r\n") #maybe need to strip \t?

In [5]:
BlockNum=[]
Procedure=list()
TrialNUM =[] #somehow eprime writes as TrialNUM
img1 =[]
img2=[]
ChoiceB_RESP = []
ChoiceB_RT=[]

for i in range(len(contents)):
    if contents[i] == '\t*** LogFrame Start ***' and contents[i+4].startswith("\tTrial")==True:
        Procedurea = contents[i+1].split("Procedure: ",1)[1] 
        Procedure.append(Procedurea)
        
        
        img1a =contents[i+2].split("img1: ",1)[1] 
        img1.append(img1a)
        
        img2a =contents[i+3].split("img2: ",1)[1] 
        img2.append(img2a)
        
        TrialNUMa =[''.join(c for c in contents[i+4] if c in digits)]
        TrialNUM=TrialNUM+TrialNUMa
        
        BlockNuma =[''.join(c for c in contents[i+5] if c in digits)]
        BlockNum=BlockNum+BlockNuma
        
        ChoiceB_RESPa =[''.join(c for c in contents[i+15] if c in digits)]
        ChoiceB_RESP=ChoiceB_RESP+ChoiceB_RESPa
        
        ChoiceB_RTa =[''.join(c for c in contents[i+14] if c in digits)]
        ChoiceB_RT=ChoiceB_RT+ChoiceB_RTa
    
Procedure_df = pd.DataFrame(Procedure)
Procedure_df.columns = ['Procedure']  
        
img1_df =pd.DataFrame(img1)
img1_df.columns = ['img1']

img2_df =pd.DataFrame(img2)
img2_df.columns = ['img2']

TrialNUM_df =pd.DataFrame(TrialNUM)
TrialNUM_df.columns = ['TrialNUM']

BlockNum_df =pd.DataFrame(BlockNum)
BlockNum_df.columns = ['BlockNum']

ChoiceB_RESP_df =pd.DataFrame(ChoiceB_RESP)
ChoiceB_RESP_df.columns = ['ChoiceB_RESP']

ChoiceB_RT_df =pd.DataFrame(ChoiceB_RT)
ChoiceB_RT_df.columns = ['ChoiceB_RT']

all = pd.concat([img1_df.reset_index(drop=True), img2_df], axis=1)
all = pd.concat([all.reset_index(drop=True), Procedure_df], axis=1)
all = pd.concat([all.reset_index(drop=True), TrialNUM_df], axis=1)
all = pd.concat([all.reset_index(drop=True), BlockNum_df], axis=1)
all = pd.concat([all.reset_index(drop=True), ChoiceB_RESP_df], axis=1)
all = pd.concat([all.reset_index(drop=True), ChoiceB_RT_df], axis=1)

In [6]:
all

    img1 img2    Procedure TrialNUM BlockNum ChoiceB_RESP ChoiceB_RT
0    220  221  ChooseBlack                 1         6400     999999
1    215  232  ChooseBlack        1        1            1       1255
2    183  238  ChooseBlack        2        1            2       1013
3    221  239  ChooseBlack        3        1            2       1781
4    169  202  ChooseBlack        4        1            1       1930
..   ...  ...          ...      ...      ...          ...        ...
97   199  208  ChooseBlack       96        3            2        918
98   149  175  ChooseBlack       97        3            1       1763
99   133  206  ChooseBlack       98        3            1       1920
100  173  201  ChooseBlack       99        3            2        678
101  131  212  ChooseBlack      100        3            2       1186

[102 rows x 7 columns]

Empty DataFrame
Columns: []
Index: []