In [1]:
#import necessary tools
import re
from string import digits
import pandas as pd
import numpy as np

In [14]:
#read the documents
with open('data/135LB.txt','rb') as f:
    contents = f.read()
    contents = contents.decode("utf-16").rstrip("\n")
    contents = contents.split("\r\n") #maybe need to strip \t?

In [15]:
img =[]
Choice_RESP = []
Choice_RT=[]


#loop through each line
for line in range(len(contents)-15):
    
    #this line of "running: listlike/black" is in the fixed position of each of 4 conditions (b1b2l1l2)
    #therefore, we use it as our anchor to locate meaningful blocks

    like_check = contents[line+5].startswith("\tRunning: ListReRate") == True
    
    if contents[line] == '\t*** LogFrame Start ***' and like_check:
        
        #loop inside the meaningful block                
        for inner_line in range(15):
            
            new_line = line + inner_line
            
            #mark image
            if contents[new_line].startswith("\timg: "):
                imga = contents[new_line].split("img: ",1)[1] 
                #print("image is", imga)
                img.append(imga)
                
             
            #mark choice Like response 
            if contents[new_line].startswith("\tSlideR2.RESP: ") and contents[new_line].split("\tSlideR2.RESP: ",1) != ['']:

                Choice_RESPa = contents[new_line].split("\tSlideR2.RESP: ",1)[1]
                Choice_RESPa =[''.join(c for c in Choice_RESPa if c in digits)]
                Choice_RESP=Choice_RESP+Choice_RESPa
                
            #mark choice Like response time
            if contents[new_line].startswith("\tSlideR2.RT: ") and contents[new_line].split("\tSlideR2.RT: ",1) != ['']:
                
                Choice_RTa = contents[new_line].split("\tSlideR2.RT: ",1)[1]
                Choice_RTa =[''.join(c for c in Choice_RTa if c in digits)]
                Choice_RTa = list([float(i) for i in Choice_RTa])
                Choice_RT=Choice_RT+Choice_RTa


#Assign variable names  
        
img = [int(i) for i in img] 
img_df = pd.DataFrame(img)
img_df.columns = ['imgL2']

Choice_RESP = [int(i) for i in Choice_RESP] 
Choice_RESP_df = pd.DataFrame(Choice_RESP)
Choice_RESP_df.columns = ['rateL2']

Choice_RT = [int(i) for i in Choice_RT] 
Choice_RT_df = pd.DataFrame(Choice_RT)
Choice_RT_df.columns = ['rtL2']

In [16]:
#merge the data
sub_id = contents[16].split("Subject: ",1)[1] 
sub_df = pd.DataFrame(np.repeat(sub_id, img_df.shape[0], axis = 0))
sub_df.columns = ['sub']


all = pd.concat([sub_df.reset_index(drop=True), img_df], axis=1)
all = pd.concat([all.reset_index(drop=True), Choice_RESP_df], axis=1)
all = pd.concat([all.reset_index(drop=True), Choice_RT_df], axis=1)

all

    sub  imgL2  rateL2  rtL2
0   134      2       5  5343
1   134      3       5  1433
2   134      4       6  1404
3   134      5       5  1743
4   134      6       6  1588
..  ...    ...     ...   ...
90  134    116       4  1159
91  134    117       7  9413
92  134    118       4  2878
93  134    119       8  1170
94  134    120       2  1247

[95 rows x 4 columns]

In [17]:
#remove last NA line if needed

#all_all= all[:-1]

all_all= all
all_all["sub"] = pd.to_numeric(all_all["sub"])



all_all

    sub  imgL2  rateL2  rtL2
0   134      2       5  5343
1   134      3       5  1433
2   134      4       6  1404
3   134      5       5  1743
4   134      6       6  1588
..  ...    ...     ...   ...
90  134    116       4  1159
91  134    117       7  9413
92  134    118       4  2878
93  134    119       8  1170
94  134    120       2  1247

[95 rows x 4 columns]

In [18]:

#export
all_all.to_excel("rate2_135.xlsx")

#has wrong first column, needs to manually remove